html, body {
  height: 100vh;
}

.led {
  $pixelWidth: 24px;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  &-indicator {
    width: $pixelWidth * 5 + 8;
    overflow: hidden;
    margin: 0 $pixelWidth/1.5 0 0;

    &__pixel {
      background: #088;
      //border-radius: 50%;
      width: $pixelWidth;
      height: $pixelWidth;
      margin: 0 2px 2px 0;
      float: left;
      transition: transform .25s;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:not(.active) {
        transform: scale(.125)
      }
    }
  }
}