html, body {
  height: 100vh;
}

.led {
  $pixelWidth: 24px;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  &:not(.on) {
    display: none;
  }

  &__group {
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    padding: 16px 8px;
    cursor: pointer;

    &:hover {
      border: 2px solid #c93;
    }

    &:not(.no-transition) .led-indicator__pixel {
      transition: transform .25s;
    }
  }

  &-indicator {
    width: $pixelWidth * 5 + 8;
    overflow: hidden;
    margin: 0 $pixelWidth/4;

    &__pixel {
      background: #088;
      width: $pixelWidth;
      height: $pixelWidth;
      margin: 0 2px 2px 0;
      float: left;
      //transition: transform .25s;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:not(.active) {
        transform: scale(.125);
      }
    }
  }
}